
@{
    ViewData["Title"] = "CheckOut";
}
<div class="alert alert-info text-center">
    Checked out Successfully!!
</div>

<div class="col-md-12 my-5 py-5">
    <h1 class="text-center">
        Thanks for Oderdering. Your Order will Arrive soon.
    </h1>
    <h5 class="text-center">
        Your Order is on Cash on Delivery Payment metheod!
    </h5>
</div>

<div class="container">
    <div class="col-md-12 my-5 py-5">
        <img class="img-fluid" src="~/image/checkout.svg" />
    </div>
</div>


